body {
	font-family: var(--font-base);
	font-size: var(--fs-0);
	line-height: 1.7;
	color: var(--clr-text);
	background-color: var(--clr-surface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-display);
	line-height: 1.2;
	color: var(--clr-text-strong);
	text-wrap: balance;
}

h1 {
	font-size: var(--fs-5);
	max-inline-size: 20ch;
}

h2 {
	font-size: var(--fs-4);
	max-inline-size: 24ch;
}

h3 {
	font-size: var(--fs-3);
	max-inline-size: 28ch;
}

h4 {
	font-size: var(--fs-2);
}

h5 {
	font-size: var(--fs-1);
}

h6 {
	font-size: var(--fs-0);
}

p {
	max-inline-size: 70ch;
}

a {
	color: currentColor;
}

a:not([class]) {
	text-underline-offset: 0.2ex;
	text-decoration-thickness: 0.1em;
	text-decoration-color: var(--clr-accent-fade);
}

a:not([class]):hover {
	text-decoration-color: var(--clr-accent);
}

blockquote {
	max-inline-size: 50ch;
	font-style: italic;
	border-inline-start: 0.25rem solid var(--clr-border-strong);
	padding-inline-start: var(--space-m);
}

ul,
ol {
	max-inline-size: 65ch;
}
