.border {
	border: 1px solid var(--clr-border);
}

.border-strong {
	border: 1px solid var(--clr-border-strong);
}

.border-divider {
	border: 1px solid var(--clr-divider);
}

.border-accent {
	border: 1px solid var(--clr-accent);
}

.border-accent-fade {
	border: 1px solid var(--clr-accent-fade);
}

.border-top {
	border-top: 1px solid var(--clr-border);
}

.border-right {
	border-right: 1px solid var(--clr-border);
}

.border-bottom {
	border-bottom: 1px solid var(--clr-border);
}

.border-left {
	border-left: 1px solid var(--clr-border);
}

.border-top-strong {
	border-top: 1px solid var(--clr-border-strong);
}

.border-right-strong {
	border-right: 1px solid var(--clr-border-strong);
}

.border-bottom-strong {
	border-bottom: 1px solid var(--clr-border-strong);
}

.border-left-strong {
	border-left: 1px solid var(--clr-border-strong);
}

.border-none {
	border: none;
}
