.text-base {
	color: var(--clr-text);
}

.text-strong {
	color: var(--clr-text-strong);
}

.text-fade {
	color: var(--clr-text-fade);
}

.text-disabled {
	color: var(--clr-text-disabled);
}

.text-accent {
	color: var(--clr-accent);
}

.text-accent-fade {
	color: var(--clr-accent-fade);
}

.text-inherit {
	color: inherit;
}

.text-current {
	color: currentColor;
}