---
import BaseLayout from '#layouts/Base.astro'
---

<BaseLayout>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quos sapiente minima
		necessitatibus unde consequuntur porro debitis, ad autem quod at id facere, totam aut velit ea
		omnis saepe possimus!
	</p>
</BaseLayout>
