---
import BaseLayout from '#layouts/Base.astro'
import Nav from '#components/Nav/Nav.astro'
const base = import.meta.env.BASE_URL.replace(/\/$/, '')
---

<BaseLayout>
	<main class="container">
		<div class="heading | mt-2xl">
			<img src={`${base}/vanessa.webp`} alt="" class="vanessaImg" />
			<h1 class="fs-6">Vanessa Noizet</h1>
		</div>
		<Nav class="mt-xl" />
		<section class="hero | mt-xl gap-l">
			<div class="flow fs-0">
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa repudiandae quam veniam
					nihil eum natus optio libero accusantium. Delectus deleniti rerum voluptatem laboriosam in
					aliquam! Incidunt tempore error in ex.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos necessitatibus, nam unde
					adipisci veritatis ipsum sed tempora voluptatibus veniam nostrum cumque, consequuntur nisi
					dignissimos laboriosam id. Enim ut sequi modi!
				</p>
			</div>
			<img src={`${base}/monster.webp`} alt="" class="monsterImg" />
		</section>
	</main>
</BaseLayout>

<style>
	.heading {
		display: flex;
		align-items: center;
		gap: var(--space-s);
	}

	.heading .vanessaImg {
		max-inline-size: 8rem;
	}

	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.monsterImg {
		display: none;
	}

	@media (width > 50rem) {
		.monsterImg {
			display: block;
			inline-size: 16rem;
			flex-shrink: 0;
			flex-grow: 0;
		}
	}
</style>
